<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NewsWebPortal</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/NewsWebPortal.styles.css" asp-append-version="true" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet" />

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3" style="background-color: #1B6690; color:white">
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav">
                    <li class="navbar-brand">
                        <a class="navbar-brand text-white ms-5" asp-action="Index" asp-controller="Home">NewsPortal</a>
                    </li>
                </ul>
                <ul class="navbar-nav">

                    <li class="nav-item @(ViewData["Title"]?.ToString() == "CountrySort" ? "active" : "")"
                        style="border-right: 2px solid #FFFFFF; border-left: 2px solid #FFFFFF; font-size:20px; text-transform:uppercase;">

                        <a class="nav-link text-white d-flex align-items-center"
                           asp-area=""
                           asp-controller="Home"
                           asp-action="Index"
                           asp-route-q="@ViewBag.CountryIp">

                            <i class="bi bi-geo-alt-fill me-2"></i>
                            @ViewBag.CountryIp
                        </a>
                    </li>

                    <li class="nav-item" style="border-right: 2px solid #FFFFFF; font-size:20px;; text-transform:uppercase;">
                        <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="ContinentalSort" asp-route-continent="Asia">Asia</a>
                    </li>
                    <li class="nav-item" style="border-right: 2px solid #FFFFFF; font-size:20px;; text-transform:uppercase;">
                        <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="ContinentalSort" asp-route-continent="Europe">Europe</a>
                    </li>
                    <li class="nav-item" style="border-right: 2px solid #FFFFFF; font-size:20px;; text-transform:uppercase;">
                        <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="ContinentalSort" asp-route-continent="Africa">Africa</a>
                    </li>
                    <li class="nav-item" style="border-right: 2px solid #FFFFFF; font-size:20px;; text-transform:uppercase;">
                        <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="ContinentalSort" asp-route-continent="North America">North America</a>
                    </li>
                    <li class="nav-item" style="border-right: 2px solid #FFFFFF; font-size:20px;; text-transform:uppercase;">
                        <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="ContinentalSort" asp-route-continent="South America">South America</a>
                    </li>
                    <li class="nav-item" style="border-right: 2px solid #FFFFFF; font-size:20px;; text-transform:uppercase;">
                        <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="ContinentalSort" asp-route-continent="Oceania">Oceania</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link text-white me-3 btn btn-outline-info" style="text-transform:uppercase; cursor:pointer" asp-area="" asp-controller="Home" asp-action="AddNewMedia">
                            Add Your Media
                        </a>
                    </li>
                </ul>
            </div>
           
        </nav>
    </header>
    <div class=" flex-grow-1" style="background-color: #F4F6F9">
        <div class="row">
            <div class="col-8">
                </div>
                <div class="col-4">

                <form asp-action="Search" method="get" class="d-flex mb-3 me-5" role="search" aria-label="Site Search">
                    <input type="search" name="q" class="form-control me-2" placeholder="Search newspapers or countries..." value="@ViewBag.Query" aria-label="Search">
                    <button type="submit" class="btn btn-primary">Search</button>
                </form>

            </div>
        </div>
        
        <div class="row">
            <main class="col-md-10 px-4 py-4">
                @RenderBody()
            </main>
        </div>
    </div>


    <footer class="border-top footer text-muted align-content-center" style="padding: 10px; margin-top:10px;">
        <div class="container">
            &copy; 2025 - NewsWebPortal - Design by <a href="https://www.linkedin.com/in/arshahin/" class="table-hover"> Anisur Rahman Shahin</a> and Developed by <a href="https://www.linkedin.com/in/rejbe323/">Mehrab Hasan Rejbe</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
